<% for post in posts %>
<div class="ui attached segment comments" style="max-width:100%">
  <div class="comment main_post" data-link="<%= post_path(post) %>">
    <a class="avatar" style="height:40px;">
      <img src="http://ofnfnmmn0.bkt.clouddn.com/xiaoice.jpg">
    </a>
    <div class="content">
      <div class="text">
        <%= post.title %>
        <% if current_user %>
          <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button class="circular ui right floated icon red button">
              <i class="remove link icon"></i>
            </button>
          <% end %>
          <%= link_to edit_post_path(post) do %>
            <button class="circular ui right floated icon blue button">
              <i class="write link icon"></i>
            </button>
          <% end %>
        <% end %>
      </div>
      <% for tag in post.tags %>
        <a class="ui tag label">
          <%= tag.name %>
        </a>
      <% end %>
      <div class="metadata">
        <span class="date" style="margin-top:5px;">
          <%= post.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>
