<div class="tags_zone" style="margin-top:1%;margin-bottom:1%;margin-left:1%">
  <h3 class="ui header">
    <i class="tags icon"></i>
    <div class="content">问题标签</div>
  </h3>
  <% for tag in  Tag.all.sort_by{|u| -u.posts.count} %>
    <div class="ui large circular label top_label" data-tag="<%=tag.name%>">
      <%= tag.name %>
      <div class="detail">
        <%= tag.posts.count %>
      </div>
    </div>
  <% end %>
</div>
<% for post in posts %>
<div class="ui attached segment comments" style="max-width:100%">
  <div class="comment main_post" data-link="<%= post_path(post) %>">
    <a class="avatar" style="height:40px;">
      <% id = post.id % 3 + 1 %>
      <% if id == 1 %>
        <img src="http://ofnfnmmn0.bkt.clouddn.com/freshman2.jpg">
      <% else %>
        <img src="http://ofnfnmmn0.bkt.clouddn.com/freshman1.jpg">
      <% end %>
    </a>
    <div class="content">
      <div class="text">
        <%= post.title %>
        <% if current_user %>
          <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button class="circular ui right floated icon red button">
              <i class="remove link icon"></i>
            </button>
          <% end %>
          <% if post.status == 1 %>
            <%= link_to edit_post_path(post) do %>
              <button class="circular ui right floated icon blue button">
                <i class="write link icon"></i>
              </button>
            <% end %>
          <% else %>
            <%= link_to edit_post_path(post) do %>
              <button class="circular ui right floated blue button">
                通过审核
              </button>
            <% end %>
          <% end %>
      <% end %>
      </div>
      <% for tag in post.tags %>
        <a class="ui tag label">
          <%= tag.name %>
        </a>
      <% end %>
      <div class="metadata">
        <span class="date" style="margin-top:5px;">
          <%= post.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>
