<%# notice %>
<% flash.each do |k,v| %>
<div class="ui positive message">
  <i class="close icon"></i>
  <div class="header"><%= v%></div>
</div>
<% end %>

<div class="ui top attached blue inverted header" style="margin-top:0">
  <div class="ui center aligned container">
    <p>新生答疑汇总</p></div>
    <%# power set %>
    <% if current_user %>
      <div class="ui top right attached label">
        <%= link_to new_post_path  do %>
          <i class="add icon"></i>新建问题&nbsp;|
        <% end %>
        <%= link_to "/posts/manage"  do %>
          <i class="setting icon"></i>待办问题&nbsp;|
        <% end %>
        <%= link_to logout_path, method: "delete"  do %>
          <i class="user icon"></i>&nbsp;登出
        <% end %>
      </div>
    <% end %>
</div>

<div id="upper" class="ui attached center aligned segment" style="background-size:100% 100%;background-image:url('http://ofnfnmmn0.bkt.clouddn.com/blueBG.jpg');background-repeat:no-repeat;">
  <div class="ui fluid category search" style="padding:15% 0 20% 0">
    <form action="/posts/search" id="search_form" method="post" data-remote="true">
      <div class="ui icon input">
        <input class="prompt" type="text" name="key" placeholder="Search keywords...">
        <i class="search link icon"></i>
      </div>
    </form>
  </div>
</div>

<div class="results">
  <%= render(partial: 'posts/results',locals:{posts: @results.first(10)}) %>
</div>

<div class="more_button">
  <%= render(partial: "posts/more_button",locals:{results: @results})%>
</div>
