<%# notice %>
<% flash.each do |k,v| %>
<div class="ui positive message">
  <i class="close icon"></i>
  <div class="header"><%= v%></div>
</div>
<% end %>

<div class="ui top attached blue inverted header" style="margin-top:0">
  <div class="ui center aligned container">
    <p>权益问题汇总平台</p></div>
    <%# power set %>
    <% if current_user %>
      <div class="ui top right attached label">
        <%= link_to new_post_path  do %>
          <i class="add icon"></i>新建问题&nbsp;|
        <% end %>
        <%= link_to "/posts/manage"  do %>
          <i class="setting icon"></i>待办问题&nbsp;|
        <% end %>
        <%= link_to logout_path, method: "delete"  do %>
          <i class="user icon"></i>&nbsp;登出
        <% end %>
      </div>
    <% end %>
</div>

<div id="upper" class="ui attached center aligned segment" style="background-size:100% 100%;background-image:url('http://ofnfnmmn0.bkt.clouddn.com/blueBG.jpg');background-repeat:no-repeat;">
  <div class="ui fluid category search">
    <form action="/posts/search" id="search_form" method="post" data-remote="true">
      <div class="ui icon input">
        <input class="prompt" type="text" name="key" placeholder="Search keywords...">
        <i class="search link icon"></i>
      </div>
    </form>
  </div>
</div>

<div class="tags_zone" style="margin-top:10px;margin-bottom:5px;margin-left:10px">
  <h3 class="ui header" style="margin-bottom:5px">
    <i class="tags icon"></i>
    <div class="content">问题标签</div>
  </h3>
  <% for tag in  Tag.no_empty.sort_by{|u| -u.posts.count} %>
    <div class="ui large circular label top_label" style="margin-top:10px" data-tag="<%=tag.name%>">
      <%= tag.name %>
      <div class="detail">
        <%= tag.posts.count %>
      </div>
    </div>
  <% end %>
</div>

<div class="ui sticky fixed top">
  <button class="fluid ui blue button"><i class="add circle icon"></i>新建提议</button>
</div>

<div class="results">
  <%= render(partial: 'posts/results',locals:{posts: @results.first(10)}) %>
</div>

<div class="more_button">
  <%= render(partial: "posts/more_button",locals:{results: @results})%>
</div>
