<div class="ui top attached blue inverted header">
  <div class="ui center aligned container">
    <p>新生答疑汇总</p></div>
</div>
<%# notice %>
<div class="ui attached segment comments" style="background:gainsboro;max-width:100%" >
  <div class="comment">
    <div class="avatar" style="width:auto;margin:0">
      <i class="huge help circle outline icon"></i>
    </div>
    <div class="content">
      <a class="author"><%= @post.title %></a>
      <div class="metadata">
        <span class="date">
          <%= @post.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %>
        </span>
      </div>
      <div class="ui text">
        <%= @post.content %></div>
    </div>
  </div>
</div>
<div class="ui attached segment comments" style="max-width:100%">
  <div class="comment">
    <a class="avatar" style="height:41px;">
      <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1501513171&di=fc775f260a0da6c253df3c5f6a08921d&src=http://www.buaa.edu.cn/__local/B/CD/A6/968D8F6600C0B8195CD59008BF5_9249A080_12AB7.jpg">
    </a>
    <div class="content">
      <a class="author">
        <%= @post.replier %>
      </a>
      <div class="metadata">
        <span class="date">
          <%= @post.updated_at.strftime('%Y-%m-%d %H:%M:%S').to_s %>
        </span>
      </div>
      <div class="text">
        <%= raw @post.answer %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Edit The Post', edit_post_path(@post),:class => "ui attached yellow button" %>
<br/>
<div class="ui center aligned container">
  <div class="ui buttons">
    <%= link_to '返回', posts_path, :class => "ui red button" %>
    <div class="or"></div>
    <button class="ui positive button">提问</button>
  </div>
</div>
