<div class="ui top attached blue inverted header">
  <div class="ui center aligned container">
    <p>新生答疑汇总</p></div>
</div>

<div class="ui attached segment comments" style="background:gainsboro;max-width:100%" >
  <div class="comment">
    <div class="avatar" style="width:auto;margin:0">
      <i class="huge help circle outline icon"></i>
    </div>
    <div class="content">
      <a class="author"><%= @post.title %></a>
      <div class="metadata">
        <span class="date">
          <%= @post.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %>
        </span>
      </div>
      <div class="ui text">
        <%= @post.content %></div>
    </div>
  </div>
</div>
<div class="ui attached segment comments" style="max-width:100%">
  <div class="comment">
    <a class="avatar" style="height:40px;">
      <% id = (@post.id%2 + 1).to_s %>
      <img src="<%= 'http://ofnfnmmn0.bkt.clouddn.com/replier'+id+'.jpg' %>">
    </a>
    <div class="content">
      <a class="author">
        <%= @post.replier %>
      </a>
      <div class="metadata">
        <span class="date">
          <%= @post.updated_at.strftime('%Y-%m-%d %H:%M:%S').to_s %>
        </span>
      </div>
      <div class="text">
        <%= raw @post.answer %>
      </div>
    </div>
  </div>
</div>
<% if current_user %>
  <%= link_to 'Edit The Post', edit_post_path(@post),:class => "ui attached yellow button" %>
<% end %>
<br/>
<div class="ui center aligned container">
  <div class="ui buttons">
    <%= link_to '返回', posts_path, :class => "ui red button" %>
    <div class="or"></div>
    <button class="ui blue button" id="ask_question">提问</button>
    <div class="ui page dimmer" id="new_question">
      <div class="content">
        <div class="center">
          <h3>我要提问：</h3>
          <div class="description">
            <form class="ui form" method="post" action="/posts" accept-charset="UTF-8">
              <div class="required field">
                <label style="color:white">title</label>
                <input type="text" placeholder="title" name="post[title]">
              </div>
              <div class="required field">
                <label style="color:white">具体内容（可与标题相同）</label>
                <textarea row="2" placeholder="content" name="post[content]"></textarea>
              </div>
               <div class="ui blue submit button" id="submit_question">提交问题</div>
               <div class="ui error message"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
